name: Telegram MCQ Bot

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  mcq-extractor-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 340

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y poppler-utils libpoppler-cpp-dev

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Telegram Bot
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TG_TOKEN }}
          GEMINI_API_KEYS: ${{ secrets.KEYS }}
          MONGODB_URI: ${{ secrets.URI }}
          QUIZ_MARKER: ${{ secrets.QUIZ_MARKER }}
          EXPLANATION_TAG: ${{ secrets.EXPLANATION_TAG }}
        run: |
          python main.py

  looper:
    needs: mcq-extractor-bot
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
      
      - name: Configure Git
        run: |
          git config --global user.email "${{ secrets.GITHUBMAIL }}"
          git config --global user.name "${{ secrets.GITHUBNAME }}"
      
      - name: Commit empty change to trigger workflow
        run: |
          git commit --allow-empty -m "Auto-restart workflow"
          git push
